.zero-background-container {
    display: flex;
    background-color: #3067b2;
    height: 550px;
}
.zero-background-container > a {
    width: 500px;
    margin: auto;
}
.zero-background-container > a > img {
    object-fit: contain;
    width: 100%;
}
.zero-frame-half {
    width: 50%;
    padding: 2em;
    display: block;
}
.zero-frame-half > img {
    width: 70%;
    margin: auto;
    display: flex;
}
.zero-frame-half > a {
    text-decoration: none;
    margin: auto;
}
.zero-frame-half > a > button {
    background-color: #50b9ea;
    padding: 0.5em 1em;
    color: white;
    border-radius: 1em;
    border: 0;
    font-size: 1.3em;
    -webkit-box-shadow: 0px 0px 51px 0px #50b9ea;
    -moz-box-shadow: 0px 0px 51px 0px #50b9ea;
    box-shadow: 0px 0px 51px 0px #50b9ea;
    margin: auto;
    display: block;
    margin-top: 1em;
    cursor: pointer;
    width: 260px;
    outline: none;
}
.zero-frame-half > div > p {
    color: white;
    width: 100%;
    text-align: center;
}
@media (max-width: 800px) {
    .zero-background-container > a > img {
        display: block !important;
    }
}
@media (max-width: 550px) {
    .zero-background-container > a {
        width: 90%;
    }
    .zero-background-container {
        height: 400px;
    }
}
