.doctors-box {
    background-color: white;
    position: absolute;
    right: 50px;
    left: 50px;
    top: 30px;
    // bottom: 30px;
    min-height: 85%;
    background-color: #ffffffd9;
}
@media (max-width: 800px) {
    .doctors-box {
        right: 10px;
        left: 10px;
        top: 10px;
        bottom: 10px;
    }
}
